<div class="bg-black">

    <div>
        <center>
            <div>
                <br>
                <img src="/public/img/Sitio.jfif" alt="">
                <h2>  Sistema Microinformatica </h2>
                <br><br>
                <h4> Recursos humanos </h4>
                <br></br>
            
            </div>
        </center>
    </div>

</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="row">
        <div class="col">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Acerca de la empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Ingreso del personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contactos</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</nav>