<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen - Corte 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/boostrap.min.css">

</head>
<body>
    <br><br>
    <div class="container" style="background-color: antiquewhite;">
        <div class="row">
            <div class="col">
                <%-include('partials/encabezado.html');%>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card bg-info">
                    <center>

                    <form action="" method="post" class="">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Numero de contrato: </label>
                            <input style="width: 30%;" type="text" name="numRecibo" class="form-control" id="numRecibo" placeholder="" value="<%=numRecibo%>" required="true">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre: </label>
                            <input style="width: 30%;" type="text" name="nomCliente" class="form-control" id="nomCliente" placeholder="" value="<%=nomCliente%>" required="true">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Domicilio: </label>
                            <input style="width: 30%;" type="text" name="domicilio" class="form-control" id="domicilio" placeholder="" value="<%=domicilio%>" required="true">
                        </div>
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Nivel de estudios: </label>
                            <select style="width: 30%;" id="tipo" class="form-select" name="tipo" aria-label="Default select example" value="<%=tipo%>" required="true">
                                <option value="1">Licenciatura</option>
                                <option value="2">Maestria</option>
                                <option value="3">Doctorado</option>
                            </select>
                        </div>
                        <br>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Pago diario base: </label>
                            <input style="width: 30%;" type="text" class="form-control" name="kilowat" id="kilowat" value="<%=kilowat%>" placeholder="" required="true">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Dias trabajados: </label>
                            <input style="width: 30%;" type="text" class="form-control" name="diat" id="diat" placeholder="" value="<%=diat%>" required="true">
                        </div>
                        
                        <div class="row">
                            <div class="col m-2">
                                <button type="submit">Enviar</button>
                                <button type="reset" class="" id="limpiar" onclick="limpiar()">Limpiar</button>
                            </div>
                        </div>
                    </form>
                                            
                 </center>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col">
                <%-include('partials/piePagina.html');%>
            </div>
        </div>
    </div>
    

    
</body>

<script src=""></script>

</html>