<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen - Corte 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/boostrap.min.css">

</head>
<body>
    <br><br>
    <div class="container" style="background-color: antiquewhite;">
        <div class="row">
            <div class="col">
                <%-include('partials/encabezado.html');%>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card bg-info">

                    <%-include('partials/encabezado.html');%>

                    <% 
                    
                        var subtotal = 0;
                        var impuesto = 0;
                        var total = 0;
                        var descuento = 0;
                        var costo = 0;
                        
                    


                    if(tipo==="1"){
                        subtotal = kilowat * 1.2 * diat;
                        impuesto = subtotal * .16;
                        total = subtotal - impuesto; 

                        
                    }else if(tipo==="2"){
                        subtotal = kilowat * 1.5 * diat;
                        impuesto = subtotal * .16;
                        total = subtotal - impuesto; 

                    }else if(tipo === "3"){
                        subtotal = kilowat * 2  * diat;
                        impuesto = subtotal * .16;
                        total = subtotal - impuesto; 
                        
                    }

                    
                    %>
                    
                    <center>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Numero Contrato:</th>
                                    <th scope="col">Nombre empleado:</th>
                                    <th scope="col">Domicilio:</th>
                                    <th scope="col">Nivel de estudios:</th>
                                    <th scope="col">Pago Diario:</th>
                                    <th scope="col">Dias trabajados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%=numRecibo%></td>
                                    <td><%=nomCliente%></td>
                                    <td><%=domicilio%></td>
                                    <td><%=tipo%></td>
                                    <td><%=kilowat%></td>
                                    <td><%=diat%></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Subtotal</td>
                                    <td><%=subtotal%></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Impuesto</td>
                                    <td><%=impuesto%></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Total a pagar</td>
                                    <td><%=total%></td>
                                </tr>
                            </tbody>
                        </table>
                                            
                 </center>
                </div>
                <div class="row">
                    <div class="col m-2">
                        <button type="submit">Enviar</button>
                        <button type="reset" class="" id="limpiar" onclick="limpiar()">Limpiar</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col">
                <%-include('partials/piePagina.html');%>
            </div>
        </div>
    </div>
    

    
</body>

<script src=""></script>

</html>